<%- include("partials/header"); -%>
<div class="container home-body">
  <h2>About Blogosphere!</h2>
  <p class="post-content">
    <b>Welcome to Blogosphere</b>
    <br> <br>

    <b>Blogging</b> is an amazing way to improve your writing, explore areas of interest in depth,
    learn the basics of website management and SEO, and — perhaps most importantly, develop clarity of thinking.
    <br> <br>
    Specifically, blogging develops below mentioned <b>skills:</b>
    <br> <br>
    <b>Improves your writing</b> — Most people cannot write well. By committing to a blog and sticking with it for at least 6–8 months,
    your writing will improve. The practice of writing blog posts — and the added pressure of making them public — is the practice
    of an invaluable craft.
    <br> <br>
    <b>Keeps you current</b> — No matter how passionate you think you are about a certain subject, there will be days (and even weeks)
    when you aren’t inspired to write. Here’s where the habit and consistency of blogging kicks in — it will force you to read more
    and keep current in your topic so you have ideas for additional posts.
    <br> <br>

    <b>Builds a portfolio</b> — Blogs provide ways for you to not only express your thoughts and (potentially) build an audience, but also build a
    portfolio of original work at your pace and on your terms.
    <br> <br>
    <b>Improves your analytical skills</b> — Writing blog posts require you to clearly organize your thoughts, write persuasively
    and edit ruthlessly — these are skills that spill over beyond mere writing into other areas of thinking and analysis.
    <br> <br>
    So yes - I think you should start a blog. Play with it, commit to it. In a year, you’ll be amazed at what we’ve built for you.


  </p>
</div>

<%- include("partials/footer"); -%>
