<%- include("partials/header"); -%>

<div class="container home-body">
  <div class="col-12 col-sm-6">
    <h3>Location Information</h3>
    <h5>Our Address</h5>
    <address class="address">
      Jamui, Bihar, India<br />
      <i class="fa fa-phone"></i>: +91 9853727899<br />
      <a href="https://www.facebook.com/profile.php?id=100014616668054">
        <i class="fa fa-facebook"></i> Facebook
        </br>
      </a>
      <i class="fa fa-envelope"></i>:
      <a href="ravikumarsah44444@gmail.com">meRavi@gmail.com</a>
    </address>
    <br />
    <br />
    <h3>Contact</h3>
    <div class="btn-group" role="group">
      <a 
        href="https://www.instagram.com/humourousravi/"
        > <img class="icon" src="../images/instaIcon.png" alt="instagram"></a
      >
      <a 
        href="https://www.linkedin.com/in/ravi-kumar-57a4871b8/"
        > <img class="icon" src="../images/linkedInIcon.png" alt=""></a
      >
      <a   href="mailto:ravikumarsah44444@gmail.com"
        ><img class="icon" src="../images/gmailIcon.png" alt=""> </a
      >
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
